@model IEnumerable<ETickets.Models.Movie>
<div class="row row-cols-1 row-cols-md-4 g-4">
@foreach (var item in Model)
{
    <div class="card">
        <img src="~/imgs/@item.ImgUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text"> <srtong>Price: </srtong>@item.Price$</p>
            <p class="card-text"><srtong>Cinema: </srtong>@item.Cinema.Name</p>
        </div>
        <ul class="list-group list-group-flush">
                <li class="list-group-item"><srtong>Start at: </srtong>@item.StartDate</li>
                <li class="list-group-item"><srtong>End at: </srtong>@item.EndDate</li>
                <li class="list-group-item"><srtong>Category: </srtong>@item.Category.Name</li>
                @if(item.Status == MovieStatus.Avaliable)
                {
                    <li class="btn btn-success">@item.Status</li>
                }
                else if (item.Status == MovieStatus.upcoming)
                {
                    <li class="btn btn-light">@item.Status</li>
                }
                else if (item.Status == MovieStatus.Expired)
                {
                    <li class="btn btn-danger">@item.Status</li>
                }
         </ul>

        <div class="card-body">
                <a asp-action="Details" asp-controller="Movie" asp-route-id="@item.Id" class="btn btn-info">More Details</a>

                @if (item.Status == MovieStatus.Expired)
                {
                    <a asp-action="Index" asp-controller="Cart" asp-route-id ="@item.Id" type="button" class="btn btn-outline-light disabled">Book Tickets</a>
                }
                else
                {
                    <a asp-action="Index" asp-controller="Cart" asp-route-id="@item.Id" type="button" class="btn btn-outline-light">Book Tickets</a>
                }
        </div>
    </div>
}
</div>
